/* Custom font */
.rr {
  font-family: "RudawRegular";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/rudawregular2.ttf") format('ttf');
  display: swap;
}
/* 
.rb {
  font-family: "Rudaw";
  font-weight: bold;
  font-style: normal;
    src: url("./fonts/rudawbold.ttf") format('ttf');
}
 */
/* Doctor Naqar colors */

.dng {
  color: #353535;
}

.dnlg {
  color: #9c98b9;
}

.dnb {
  color: #0097ba;
}

.dny {
  color: #ffd600;
}

.dnw {
  color: #fafbfc;
}

/* Body styling */
body {
  background-color: #fafbfc;
}

/* Navbar syling */
#soon {
  background-color: rgb(156, 152, 185, 0.2);
  color: rgb(156, 152, 185, 0.9);
}

#soon:hover {
  background-color: #ffd600;
  color: #353535;
}

/* Hero section */
#hero {
  background-image: url("/doctor-naqar/Assets/Web.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.btn-naqar {
  background-color: #0097ba;
  color: #fafbfc;
}

.btn-naqar:hover {
  background-color: #ffd600;
  color: #353535;
  stroke: none;
}

/* Section 2 - below hero */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(156, 152, 185, 0.2);
  margin-left: 3rem;
  margin-right: 3rem;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

#dots {
  background-image: url("/doctor-naqar/Assets/dots.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#secTwo {
  background-color: white;
}

/* Section 3 */
#blueTitle {
  font-size: 1.2rem;
}

#dots-lg {
  background-image: url("/doctor-naqar/Assets/dots.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-indicators {
  margin-bottom: -50px;
}

.carousel-inner {
  margin-bottom: 50px;
}

/* Section 5 */
.prpl {
  background-color: #7c68ed;
}

.yl {
  border-top: 3px solid hsl(50, 100%, 50%);
  opacity: 1;
  margin-top: 2rem;
  width: 8rem;
}

/* Section 5 */

.bl {
  border-top: 3px solid hsl(191, 100%, 36%);
  opacity: 1;
  margin-top: 2rem;
  width: 8rem;
}

/* Pricing */
.bg-naqar-main {
  background-color: #0097ba;
}

.bg-naqar-alt {
  background-color: #ffd600;
}

.btn-naqar-outline {
  background: none;
  border: 1px solid #9c98b9;
}

.btn-naqar-outline:hover {
  background-color: #ffd600;
  color: #353535;
  stroke: none;
}

.btn-naqar-alt {
  background-color: #ffd600;
  color: #353535;
}

.btn-naqar-alt:hover {
  background-color: #0097ba;
  color: #fafbfc;
  stroke: none;
}

.btn-danger-soft {
  color: #d6293e;
  background-color: rgba(214, 41, 62, 0.1);
}

.btn-round {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.accordion.accordion-icon .accordion-header .accordion-button {
  background: transparent;
  font-size: inherit;
  border: none;
}
.accordion.accordion-bg-light .accordion-button {
  background-color: rgba(116, 117, 121, 0.1) !important;
  color: #24292d !important;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.accordion .accordion-button {
  text-align: left;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.rounded {
  border-radius: 0.325rem !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.d-inline-block {
  display: inline-block !important;
}
.accordion-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 0.9375rem;
  color: #212529;
  text-align: right;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, border-radius 0.15s ease,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button,
select {
  text-transform: none;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}

h6,
.h6 {
  font-size: 0.9375rem;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #24292d;
}

.accordion.accordion-icon .accordion-header .accordion-button:before {
  content: "";
  background: #24292d !important;
  width: 10px;
  height: 2px;
  display: block;
  position: absolute;
  top: 47%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  z-index: 9;
}
.accordion.accordion-bg-light .accordion-button:before {
  background: #24292d !important;
}

.accordion.accordion-icon
  .accordion-header
  .accordion-button[aria-expanded="false"]:after {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.accordion.accordion-icon .accordion-header .accordion-button:after {
  content: "";
  background: #24292d !important;
  width: 10px;
  height: 2px;
  display: block;
  position: absolute;
  top: 47%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  z-index: 9;
}
.accordion.accordion-bg-light .accordion-button:after {
  background: #24292d !important;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card,
.overflow-hidden {
  will-change: transform;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
